# Application
APP_NAME=AI Customer Operations
APP_ENV=development
DEBUG=true

# API
API_V1_PREFIX=/api/v1

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=customer_operations
POSTGRES_USER=customer_admin
POSTGRES_PASSWORD=change_me

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333

# LLM
LLM_API_KEY=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
LLM_MODEL=openai/gpt-oss-120b